<ion-view view-tittle = "Sign-In">
	<ion-content>
		<ion-nav-bar class="bar-positive">
			<ion-nav-bar-button class="button-icon ion-arrow-left-c">
			</ion-nav-bar-button>
		</ion-nav-bar>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">Username</span>
				<input type="text" ng-model="user.username">
			</label>
			<label class="item item-input">
				<span class="input-label">Password</span>
				<input type="text" ng-model="user.password">
			</label>
			</div>
			<div class="padding">
				<button class="button button-block button-positive" ng-click="singIn(user)">
					Sing-In
				</button>
				<p class="text-center">
					<a href="#/forgot-password">Forgot Password</a>
				</p>
			</div>
	</ion-content>
</ion-view>