<ion-view view-title="Facts">
		<ion-content padding="ture">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dignissimos tenetur optio. Esse consectetur excepturi aliquam neque, sapiente maiores laboriosam rerum ducimus ea nemo nobis ratione, alias a error maxime.
			</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dignissimos tenetur optio. Esse consectetur excepturi aliquam neque, sapiente maiores laboriosam rerum ducimus ea nemo nobis ratione, alias a error maxime.
			</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dignissimos tenetur optio. Esse consectetur excepturi aliquam neque, sapiente maiores laboriosam rerum ducimus ea nemo nobis ratione, alias a error maxime.
			</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dignissimos tenetur optio. Esse consectetur excepturi aliquam neque, sapiente maiores laboriosam rerum ducimus ea nemo nobis ratione, alias a error maxime.
			</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dignissimos tenetur optio. Esse consectetur excepturi aliquam neque, sapiente maiores laboriosam rerum ducimus ea nemo nobis ratione, alias a error maxime.
			</p>
			<p>
			<a class="button icon ion-home" href="#/tab/home">Home</a>
			<a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">More Facts</a>
			</p>
		</ion-content>
</ion-view>